TMS/TMS/Web References/localhostRole/RoleWebservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:intf="http://webservice_layer" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://webservice_layer" targetNamespace="http://webservice_layer" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://webservice_layer">
      <xsd:element name="getAllRoles">
        <xsd:complexType />
      </xsd:element>
      <xsd:element name="getAllRolesResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="unbounded" name="getAllRolesReturn" type="impl:Role" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:complexType name="Role">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:int" />
          <xsd:element name="role_name" nillable="true" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="findRole">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Id" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="findRoleResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="findRoleReturn" type="impl:Role" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteRole">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="role" type="impl:Role" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="deleteRoleResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="deleteRoleReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateRole">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="role" type="impl:Role" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="updateRoleResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="updateRoleReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createRole">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="role" type="impl:Role" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="createRoleResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="createRoleReturn" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getAllRolesRequest">
    <wsdl:part name="parameters" element="impl:getAllRoles" />
  </wsdl:message>
  <wsdl:message name="deleteRoleRequest">
    <wsdl:part name="parameters" element="impl:deleteRole" />
  </wsdl:message>
  <wsdl:message name="findRoleRequest">
    <wsdl:part name="parameters" element="impl:findRole" />
  </wsdl:message>
  <wsdl:message name="deleteRoleResponse">
    <wsdl:part name="parameters" element="impl:deleteRoleResponse" />
  </wsdl:message>
  <wsdl:message name="updateRoleResponse">
    <wsdl:part name="parameters" element="impl:updateRoleResponse" />
  </wsdl:message>
  <wsdl:message name="updateRoleRequest">
    <wsdl:part name="parameters" element="impl:updateRole" />
  </wsdl:message>
  <wsdl:message name="createRoleResponse">
    <wsdl:part name="parameters" element="impl:createRoleResponse" />
  </wsdl:message>
  <wsdl:message name="getAllRolesResponse">
    <wsdl:part name="parameters" element="impl:getAllRolesResponse" />
  </wsdl:message>
  <wsdl:message name="createRoleRequest">
    <wsdl:part name="parameters" element="impl:createRole" />
  </wsdl:message>
  <wsdl:message name="findRoleResponse">
    <wsdl:part name="parameters" element="impl:findRoleResponse" />
  </wsdl:message>
  <wsdl:portType name="RoleWebservice">
    <wsdl:operation name="getAllRoles">
      <wsdl:input name="getAllRolesRequest" message="impl:getAllRolesRequest" />
      <wsdl:output name="getAllRolesResponse" message="impl:getAllRolesResponse" />
    </wsdl:operation>
    <wsdl:operation name="findRole">
      <wsdl:input name="findRoleRequest" message="impl:findRoleRequest" />
      <wsdl:output name="findRoleResponse" message="impl:findRoleResponse" />
    </wsdl:operation>
    <wsdl:operation name="deleteRole">
      <wsdl:input name="deleteRoleRequest" message="impl:deleteRoleRequest" />
      <wsdl:output name="deleteRoleResponse" message="impl:deleteRoleResponse" />
    </wsdl:operation>
    <wsdl:operation name="updateRole">
      <wsdl:input name="updateRoleRequest" message="impl:updateRoleRequest" />
      <wsdl:output name="updateRoleResponse" message="impl:updateRoleResponse" />
    </wsdl:operation>
    <wsdl:operation name="createRole">
      <wsdl:input name="createRoleRequest" message="impl:createRoleRequest" />
      <wsdl:output name="createRoleResponse" message="impl:createRoleResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RoleWebserviceSoapBinding" type="impl:RoleWebservice">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getAllRoles">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="getAllRolesRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="getAllRolesResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findRole">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="findRoleRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="findRoleResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteRole">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="deleteRoleRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="deleteRoleResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="updateRole">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="updateRoleRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="updateRoleResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="createRole">
      <wsdlsoap:operation soapAction="" />
      <wsdl:input name="createRoleRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="createRoleResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RoleWebserviceService">
    <wsdl:port name="RoleWebservice" binding="impl:RoleWebserviceSoapBinding">
      <wsdlsoap:address location="http://localhost:8080/TMS/services/RoleWebservice" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>